#experiences{
  padding-top: 20px;
}

#experiences main{
  width: 90%;
}

.project_experiences {
  width: 100%;
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.project-reverse_experiences {
  width: 80%;
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divFlex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__img_wrapper_experiences {
  width: 50%;
  text-align: center;
}
.__img_wrapper_experiences > img {
  width: 30%;
  border-radius: 10%;
}

.divDescription{
  width: 50%;
}
.__content_wrapper_experiences {
  width: 100%;
  height:300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
}
.title_experiences {
  font-size: 1.5rem;
  margin: 0;
}
.description_experiences {
  font-size: 1rem;
  width: 60%;
}
@media (max-width: 1024px) {
  .project_experiences {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (max-width: 768px) {
  
  .project_experiences {
    margin-left: 4em;
    margin-right: 4em;
    flex-direction: column;
  }
  .__content_wrapper_experiences {
    width: 100%;
    height: 600px;
  }

  .divFlex{
    display: contents;
  }

  .__img_wrapper_experiences > img {
    width: 70%;
  }
  
}