#contact{
  padding-top: 5em;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
}


._form_wrapper {
  display: flex;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
  width: 45%;
  height: 28em;
  padding: 2em;
}

.submit-btn {
  margin-right: 20px;
  text-decoration: none;
  color: #ffff;
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.submit-btn:hover {
  margin-right: 20px;
  text-decoration: none;
  background-color: #42bcbc;
}

.contact_msg {
  width: 45%;
  font-size: 4rem;
}

@media (max-width: 1024px) {
  ._form_wrapper {
    width: 300px;
    height: auto;
    padding: 2em;
  }
  .contact_msg{
    display: none;
  }
}
@media (max-width: 768px) {
  ._form_wrapper {
    width: 75%;
    padding: 2em;
  }
  .contact_msg{
    display: none;
  }
}