nav {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg) translate3d(-50%,0,0);
  top: 8%;
  left: -8.5rem;
}
nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #575757;
}
nav a:hover {
  margin-right: 20px;
  text-decoration: none;
  color: #42bcbc;
}
nav a.active {
  color: #42bcbc;
}

@media (max-width: 1024px) {
  nav {
    left: -10.5rem;
    top: 15%;
  }
}
@media (max-width: 768px) {
  nav {
    left: -10.5rem;
    top:15%;
  }
}

